[Desktop Entry]
Name=OBS - Forge du Savoir
Comment=Launch OBS with Android camera
Exec=__HOME_DIR__/.local/bin/obs-fds
Icon=obs
Terminal=false
Type=Application
Categories=Video;AudioVideo;
StartupNotify=true