[Desktop Entry]
Name=FreshRSS
Comment=FreshRSS WebApp
Exec=__RUN_SCRIPT_PATH__
Terminal=false
Type=Application
Icon=freshrss
Categories=Network;News;
